.properties{
    &-item{
        padding: 10px;
        border-bottom: 1px solid #ddd;
        background-color: #fafafa;
        display: flex;
        flex-wrap: wrap;
        & > *{
            flex: 1 1 100%;
        }
    }
}